*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(255, 255, 255);
}

header{
    background-color: rgb(53, 53, 230);
    color: white;
    padding: 20px;
}
header h1{
    text-align: center;
    padding-bottom: 10px;
}
header p {
    text-align: center;
}

main{
    background-color: rgba(214, 214, 214, 0.884);
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}
main h2{
    font-size: 1.6em;
    margin-left: 50px;
}
main a{
    font-size: 1.4em;
    text-decoration: none;
    
}
main a:hover{
    text-decoration:underline ;
}
ul{
    margin-left: 70px;
}
