h1{/*box-level*/
    background-color: lightgray;
    height: 300px;
    width: 300px;
    border-width: 10px;
    border-style: solid;
    border-color: darkslategray;

    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;

    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 35px;
    margin-left: auto;

    outline-width: 5px;
    outline-style: solid;
    outline-color: red;

}
a{/*inline-level*/
    border-width: 10px;
    border-style: solid;
    border-color: red;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}