@charset "UTF-8";

body{
    background-color:#ABFF85;
}
h1{
    color:#254910;
}
#principal{
    text-align: center;
    background-color: #45861f;
    color: white;
}
h2{
    color: black;
}
.basico{
    color:#1fce4b ;

}
.intermediario{
    color: #cecb1f;
}
.avançado{
    color:#ce1f1f ;
}
.destaque{
    background-color: #ebe70b;
}